// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-diesel: #010000;
$color-tundora: #444444;
$color-mercury: #e5e5e5;
$color-gallery: #ececec;
$color-seashell: #f1f1f1;
$color-puerto-rico: #46c1ae;
$color-downy: #63d1bb;
$color-viking: #59d5bc;
