.catalog-sections {

  &__list {
    @include resetlist();

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__item {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__a {
    width: 100%;

    padding-left: 28px;

    @include fonts(20px, 30px, 700, normal, $color-white);
    text-decoration: none;

    cursor: pointer;
    user-select: none;
    transition: all 0.08s ease;

    position: relative;

    &:hover,
    &:focus {
      outline: none;
    }
    &:active {
      color: rgba($color-white, 0.3);
    }

    &--accessory-for-interior {
      @include catalog-section(21px, 20px, 5px, $color-viking, 40px, 62px, '../img/catalog-sections__item-icon-bedside-night-light.svg');
    }
    &--toy-for-children {
      @include catalog-section(22px, 21px, 5px, $color-puerto-rico, 60px, 60px, '../img/catalog-sections__item-icon-lego.svg');
    }
  }
}
