.contacts {
  @include fonts(15px, 30px, 400, normal, $color-tundora);

  &__mail-link {
    border-bottom: 1px solid $color-downy;
    text-decoration: none;
    &:visited{
      color: $color-tundora;
    }
    &:hover,
    &:focus {
      color: $color-puerto-rico;
      border-bottom-color: $color-puerto-rico;
    }
    &:active {
      color: rgba($color-puerto-rico, 0.3);
      border-bottom-color: rgba($color-puerto-rico, 0.3);
    }
  }
}
