.copyright {
  &__a {
    @include fonts(19px, 18px, 700, normal, $color-black);
    text-decoration: none;

    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &::after {
      content: '';
      width: 27px;
      height: 34px;
      margin-left: 20px;

      background-color: transparent;
      background-image: url('../img/copyright__logo.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-clip: border-box;
    }

    &:hover,
    &:focus {
      outline: none;
      &::after {
        background-image: url('../img/copyright__logo-hover.svg');
      }
    }
    &:active {
      opacity: 0.3;
    }
  }
}
