.footer-copyright {
  padding-top: 20px;
  padding-bottom: 30px;

  &__a {
    padding-right: 50px;
    padding-bottom: 20px;

    @include fonts(19px, 18px, 700, normal, $color-black);
    text-decoration: none;

    cursor: pointer;
    user-select: none;

    background-color: transparent;
    background-image: url('../img/footer-copyright__logo.svg');
    background-repeat: no-repeat;
    background-position: 150px 0;

    &:hover,
    &:focus {
      outline: none;
      background-image: url('../img/footer-copyright__logo-hover.svg');
    }
    &:active {
      opacity: 0.3;
    }
  }
}
