@import 'common/normalize';
@import 'common/fonts';
@import 'common/config';
@import 'common/mixins';
@import 'common/global';
@import 'blocks/a';
@import 'blocks/btn';
@import 'blocks/btn-social';
@import 'blocks/page-header';
@import 'blocks/main-nav';
@import 'blocks/site-nav';
@import 'blocks/page-main';
@import 'blocks/catalog-sections';
@import 'blocks/product-of-the-week';
@import 'blocks/advantages';
@import 'blocks/reviews';
@import 'blocks/review-author';
@import 'blocks/reviews-navigation';
@import 'blocks/page-footer';
@import 'blocks/footer-social';
@import 'blocks/footer-copyright';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/production-process';
@import 'blocks/video';
@import 'blocks/order-form';
@import 'blocks/form-group';



